body {font-family:arial; font-size: 11pt; margin: 0;}
div {margin:0; padding: 0; border:none black 1px;}
/*div.map {border:none black 1px; float:left; background: #eee; width: 100; height: 100;}*/
div.list {border:none black 1px; float:left; width: 30%; overflow:auto; }
div.right {border:none black 1px; float:left; background: #eee;}

div.dragger {border-left: solid gray 1px; border-right: solid gray 1px; float:left; width: 8; height: 100%; cursor:move;}

div.floater {float: left; background: red; color: white; position:absolute; z-index:100; }
div.login {margin: 0 0 0 15;}
div.logout {margin: 0 0 0 15;}
#loggedin {margin-left: 15; color: black;}
div.top {margin: 0; padding: 0 0 10 0; border: none gray 1px; background: #aaa;}
h1 {margin: 0 0 0 15; color: #fff; font-family: verdana; font-style: italic;}
h2 {margin: 10 0 0 15; color:#aaa; font-family: arial;}
p {margin: 0 0 0 15; font-family:arial; }

#username {font-weight: bold;}
#debug {color: #aaa;}

a {color:#aaa; text-decoration: none;}
a:hover {color:#666; text-decoration: underline;}
textarea {font-family:arial; font-size: 10pt; color:#999;}
img {border-style: none;}

div.journey {position: relative;}
div.container {margin: 0 0 0 5; display: inline-block;}
div.float-right {float:right;}
div.journey-edit {margin-right: 5;}

.selected {color: black;}
textarea.journey-textarea {margin-left: 15;}
div.journey-description {margin-left: 15; color:#ccc; font-family: helvetica; font-weight: lighter;}
a.journey-title {margin-left: 2; }
span.journey-statistics {margin-left: 5; color:#aaa; font-family: helvetica; font-weight: lighter;}
img.arrow {display: inline-block; /*position: absolute; left: 0; top: 2; */}

div.marker {border: none;}
textarea.marker-textarea {margin-left: 15;}

div.marker a {margin-left: 15; font-size: 10pt;}
div.marker img {float:right; margin-top: 2;}
div.marker-description {margin-left: 15; color:#999; font-size: 10pt;}
div.marker-speed0 {display:inline-block; margin: 0.2em 0 0 0.5em; width:0; height: 0.8em; border: solid gray 1px; /* background:#aaaaaa;*/}
/*div.marker-speed1 {display:inline-block; margin: 0; border: none; width:100; height: 15; color: black; }*/

div.graph-div {position: absolute; z-index: 10; background: black; opacity: 0.25;}
div.canvas-container {position: relative; height: 100;}
div.graph {/*position:relative;*/}

.info-title {margin: 0;}

.info-statistics {margin-left: 0px; color:#aaa;}

.info-textarea {margin-left: 0px;}

.info-description {margin-left: 0px; color:#999;}

.info-edit {margin-left: 0px;}

.info-delete {margin-left: 0px; float: right;}



/*div.slider {width:100; height: 25; border: 1px solid gray;}*/



td {border: 1px solid gray;}

table {border-collapse: collapse;}

tr.header {color:black;}

